<header>
	<%= image_tag("creeper_head") %>
	<h1>Little Creepies Shop! </h1>
</header>
<section>
	<h2>About me and my shop!</h2>
	<p>My name is Sydney. I am 9 years old and in 4th grade. I started my shop last year in third grade with my obsession for the Minecraft Creeper. I took a piece of paper and drew a Creeper then cut it out. A few weeks later I started making them and giving them out to my classmates and friends. That's how I got the idea for Creepies! Bye!!!</p>
</section>

